// - блок три фото в ряд
.article__block-10.article__block
	.article__img-wrapper
		.article__img-box
			picture
				source(media="(max-width: 360px)", type="image/jpg", srcset="images/article/block_3_img_360.jpg")
				source(media="(max-width: 768px)", type="image/jpg", srcset="images/article/block_3_img_768.jpg")
				source(media="(max-width: 1024px)", type="image/jpg", srcset="images/article/block_3_img_1024.jpg")
				source(media="(max-width: 1799px)", type="image/jpg", srcset="images/article/block_3_img_1366.jpg")
				img(src="images/article/block_3_img_1920.jpg", alt="#").img-responsive
		.article__img-box
			picture
				source(media="(max-width: 360px)", type="image/jpg", srcset="images/article/block_3_img_360.jpg")
				source(media="(max-width: 768px)", type="image/jpg", srcset="images/article/block_3_img_768.jpg")
				source(media="(max-width: 1024px)", type="image/jpg", srcset="images/article/block_3_img_1024.jpg")
				source(media="(max-width: 1799px)", type="image/jpg", srcset="images/article/block_3_img_1366.jpg")
				img(src="images/article/block_3_img_1920.jpg", alt="#").img-responsive
		.article__img-box
			picture
				source(media="(max-width: 360px)", type="image/jpg", srcset="images/article/block_3_img_360.jpg")
				source(media="(max-width: 768px)", type="image/jpg", srcset="images/article/block_3_img_768.jpg")
				source(media="(max-width: 1024px)", type="image/jpg", srcset="images/article/block_3_img_1024.jpg")
				source(media="(max-width: 1799px)", type="image/jpg", srcset="images/article/block_3_img_1366.jpg")
				img(src="images/article/block_3_img_1920.jpg", alt="#").img-responsive