.article__main-slider
	.article__slider-inner.art-slider.art-slider--main.article__block
		.art-slider__content
			.art-slider__item
				.art-slider__img-box
					picture
						source(media="(max-width: 360px)", type="image/jpg", srcset="images/article/art-slider-main_360.jpg")
						source(media="(max-width: 768px)", type="image/jpg", srcset="images/article/art-slider-main_768.jpg")
						source(media="(max-width: 1365px)", type="image/jpg", srcset="images/article/art-slider-main_1024.jpg")
						img(src="images/article/art-slider-main_1366.jpg", alt="#").img-responsive
			.art-slider__item
				.art-slider__img-box
					picture
						source(media="(max-width: 360px)", type="image/jpg", srcset="images/article/art-slider-main_360.jpg")
						source(media="(max-width: 768px)", type="image/jpg", srcset="images/article/art-slider-main_768.jpg")
						source(media="(max-width: 1365px)", type="image/jpg", srcset="images/article/art-slider-main_1024.jpg")
						img(src="images/article/art-slider-main_1366.jpg", alt="#").img-responsive
			.art-slider__item
				.art-slider__img-box
					picture
						source(media="(max-width: 360px)", type="image/jpg", srcset="images/article/art-slider-main_360.jpg")
						source(media="(max-width: 768px)", type="image/jpg", srcset="images/article/art-slider-main_768.jpg")
						source(media="(max-width: 1365px)", type="image/jpg", srcset="images/article/art-slider-main_1024.jpg")
						img(src="images/article/art-slider-main_1366.jpg", alt="#").img-responsive
			.art-slider__item
				.art-slider__img-box
					picture
						source(media="(max-width: 360px)", type="image/jpg", srcset="images/article/art-slider-main_360.jpg")
						source(media="(max-width: 768px)", type="image/jpg", srcset="images/article/art-slider-main_768.jpg")
						source(media="(max-width: 1365px)", type="image/jpg", srcset="images/article/art-slider-main_1024.jpg")
						img(src="images/article/art-slider-main_1366.jpg", alt="#").img-responsive

		.art-slider__counter
			span
				span.art-slider__current 01
				span.art-slider__all 00
