// - блок с мини-видео и текстом
.article__block-11.article__block
	.article__video-wrapper
		.article__video
			a(href="#", data-videoId="J2Se9P70Gv4").video-link
				+img('video.jpg', 'images/article/')
		p В то время как снег на улицах уступает место сухому асфальту, девушки торопятся достать из гардеробов пальто всевозможных фасонов и цветов. Сегодня в центре внимания обязательный элемент вашего стиля – пальто-пиджак классической
