//- блок с цитатами
.article__block-3.article__block
	.article__bq.article__bq--string Цитата

	blockquote.article__bq.article__bq--quotes
		p Пальто с мембраной Raft универсально для российского климата: его можно надеть весной, осенью и зимой и&nbsp;чувствовать себя комфортно.
		p Оно «дышит», сохраняет температурный баланс, защищает от дождя, при этом остается легким и изящным.

	blockquote.article__bq.article__bq--line
		p Пальто с мембраной Raft универсально для российского климата: его можно надеть весной, осенью и зимой и&nbsp;чувствовать себя комфортно.
		p Оно «дышит», сохраняет температурный баланс, защищает от дождя, при этом остается легким и изящным.