//- блок с тремя фото "лесенкой"
.article__block-8.article__block
	.article__img-wrapper
		.article__img-box.article__img-box--sign-right
			picture
				source(media="(max-width: 360px)", type="image/jpg", srcset="images/article/block_2_img_360(2).jpg")
				source(media="(max-width: 767px)", type="image/jpg", srcset="images/article/block_2_img_768(2).jpg")
				source(media="(max-width: 1023px)", type="image/jpg", srcset="images/article/block_2_img_1024(2).jpg")
				source(media="(max-width: 1799px)", type="image/jpg", srcset="images/article/block_2_img_1366(2).jpg")
				img(src="images/article/block_2_img_1920(2).jpg", alt="#").img-responsive
			p.article__img-sign НП4У-5556-320 (синий, красный, черный)
		.article__img-box.article__img-box--sign-bottom
			picture
				source(media="(max-width: 360px)", type="image/jpg", srcset="images/article/block_2_img_360(3).jpg")
				source(media="(max-width: 767px)", type="image/jpg", srcset="images/article/block_2_img_768(3).jpg")
				source(media="(max-width: 1023px)", type="image/jpg", srcset="images/article/block_2_img_1024(3).jpg")
				source(media="(max-width: 1799px)", type="image/jpg", srcset="images/article/block_2_img_1366(3).jpg")
				img(src="images/article/block_2_img_1920(3).jpg", alt="#").img-responsive
			p.article__img-sign НП4У-5556-320 (синий, красный, черный)
		.article__img-box.article__img-box--sign-on-img
			picture
				source(media="(max-width: 360px)", type="image/jpg", srcset="images/article/block_2_img_360(2).jpg")
				source(media="(max-width: 767px)", type="image/jpg", srcset="images/article/block_2_img_768(2).jpg")
				source(media="(max-width: 1023px)", type="image/jpg", srcset="images/article/block_2_img_1024(2).jpg")
				source(media="(max-width: 1799px)", type="image/jpg", srcset="images/article/block_2_img_1366(2).jpg")
				img(src="images/article/block_2_img_1920(2).jpg", alt="#").img-responsive
			p.article__img-sign НП4У-5556-320 (синий, красный, черный)

	p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
	p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.