.blog-page__slider
	.art-slider.art-slider--blog
		.art-slider__content
			.art-slider__item
				.art-slider__img-box
					picture
						source(media="(max-width: 767px)", type="image/jpg", srcset="images/blog/blog-slide_360.jpg")
						source(media="(max-width: 1023px)", type="image/jpg", srcset="images/blog/blog-slide_768.jpg")
						source(media="(max-width: 1365px)", type="image/jpg", srcset="images/blog/blog-slide_1024.jpg")
						source(media="(max-width: 1799px)", type="image/jpg", srcset="images/blog/blog-slide_1366.jpg")
						img(src="images/blog/blog-slide_1920.jpg", alt="#").img-responsive

			.art-slider__item
				.art-slider__img-box
					picture
						source(media="(max-width: 767px)", type="image/jpg", srcset="images/blog/blog-slide_360.jpg")
						source(media="(max-width: 1023px)", type="image/jpg", srcset="images/blog/blog-slide_768.jpg")
						source(media="(max-width: 1365px)", type="image/jpg", srcset="images/blog/blog-slide_1024.jpg")
						source(media="(max-width: 1799px)", type="image/jpg", srcset="images/blog/blog-slide_1366.jpg")
						img(src="images/blog/blog-slide_1920.jpg", alt="#").img-responsive

			.art-slider__item
				.art-slider__img-box
					picture
						source(media="(max-width: 767px)", type="image/jpg", srcset="images/blog/blog-slide_360.jpg")
						source(media="(max-width: 1023px)", type="image/jpg", srcset="images/blog/blog-slide_768.jpg")
						source(media="(max-width: 1365px)", type="image/jpg", srcset="images/blog/blog-slide_1024.jpg")
						source(media="(max-width: 1799px)", type="image/jpg", srcset="images/blog/blog-slide_1366.jpg")
						img(src="images/blog/blog-slide_1920.jpg", alt="#").img-responsive

		p.art-slider__text
			span.art-slider__date 10.10.17
			span.art-slider__info Мы, не волшебники, мы только учимся! Увы, продлить летние месяцы мы не в силах. Но, мы снова готовимся к запуску нашей новой летней коллекции!