
.catalog__content
	.title.hidden-xs
		.title-box
			.h1.account-title Отзывы и вопросы
	section.account
		.container
			.account__wrapper
				include ../modules/account-menu
				.questions.account__questions
					.questions__tabs.tabs
						a.questions__tab.tabs__tab.btn.tabs__tab--active.tabs__tab--low.tabs__tab--q-narrow(href='#') Отзывы
							span (2)
						a.questions__tab.tabs__tab.tabs__tab--left-align.tabs__tab--low.btn.btn-white.tabs__tab--q-wide(href='#') Вопросы и&nbsp;предложения&nbsp;
							span (2)

					.questions__screen.questions__screen--comments
						p.questions__tip.hidden Оставьте отзыв к купленным  товарам
							|
							br
							| Вы поможете другим покупателям сделать правильный выбор!
						ul.questions__list
							li.questions__scroll
								.questions__list-item.questions__list-item--image.scrollBox
									.questions__img-box
										img(src='images/questions_90x137.jpg' alt='').img-responsive
									.questions__content
										.questions__code Артикул:
											|
											span 3-4448/4-223
										.questions__item.questions__item--question
											.questions__title Вы
												|
												span (01.01.17)
											.questions__text Куплен на замену 5S, который в целом устраивал. Хотелось камеру получше, т.к. девушка постоянно пользуется соцсетями и активно размещает фото. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна.

										.questions__item.questions__item--answer
											.questions__title Electrastyle
											.questions__text Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. ровне фото с 5S хорошо заметна. Все Разница в уровне фото с 5S хорошо заметна. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. ровне фото с 5S хорошо заметна.

							li.questions__scroll
								.questions__list-item.scrollBox
									.questions__content
										.questions__item.questions__item--question
											.questions__title Вы
												|
												span (01.01.17)
											.questions__text Куплен на замену 5S, который в целом устраивал. Хотелось камеру по Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна.

										.questions__item.questions__item--answer
											.questions__title Electrastyle
											.questions__text Все ожидания оправдались, камеры отличные, и фронтальная и основная.

					.questions__screen.questions__screen--questions.hidden
						p.questions__tip.hidden Спрашивайте нас или просматривайте вопросы наших покупателей в разделе “Вопросы” на странице товара.
							|
							br
							| Ответы на Ваши вопросы мы отправим Вам на электронную почту и продублируем здесь!
						ul.questions__list
							li.questions__scroll
								.questions__list-item.questions__list-item--no-img.scrollBox
									.questions__content
										.questions__code Артикул:
											|
											span 3-4448/4-223
										.questions__item.questions__item--question
											.questions__title Вы
												|
												span (01.01.17)
											.questions__text Куплен на замену 5S, который в целом устраивал. Хотелось камеру получше, т.к. девушка постоянно пользуется соцсетями и активно размещает фото. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна.

										.questions__item.questions__item--answer
											.questions__title Electrastyle
											.questions__text Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. ровне фото с 5S хорошо заметна. Все Разница в уровне фото с 5S хорошо заметна. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. ровне фото с 5S хорошо заметна.

							li.questions__scroll
								.questions__list-item.scrollBox
									.questions__content
										.questions__item.questions__item--question
											.questions__title Вы
												|
												span (01.01.17)
											.questions__text Куплен на замену 5S, который в целом устраивал. Хотелось камеру по Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна.

										.questions__item.questions__item--answer
											.questions__title Electrastyle
											.questions__text Все ожидания оправдались, камеры отличные, и фронтальная и основная.