include ../mixins/input-field

.catalog__content
	.title.hidden-xs
		.title-box
			.h1.account-title Сменить пароль
	section.account
		.container
			.account__wrapper
				include ../modules/account-menu
				.my-data.account__my-data
					form.my-data__form(action='#' method='#' id='change-password')
						+input-field('my-data__input', 'input-field__input--password', 'new-password', 'password', 'new-password', '', '', '', 'Новый пароль')
						+input-field('my-data__input', 'input-field__input--password', 'new-password-confirm', 'password', 'new-password-confirm', '', '', '', 'Повторите пароль')
						button.my-data__submit.btn Сохранить
			include ../modules/modal-password
