
section.article
	.title.hidden-xs
		.title-box
			.h1.main-title Статья
	.container
		include ../modules/article/art-main-slider
		include ../modules/article/art-block-1
		include ../modules/article/art-block-2
		include ../modules/article/art-block-3
		include ../modules/article/art-block-4
		include ../modules/article/art-block-5
		include ../modules/article/art-block-6
		include ../modules/article/art-block-8
		include ../modules/article/art-block-12
		include ../modules/article/art-block-9
		include ../modules/article/art-block-10
		include ../modules/article/art-block-11
		include ../modules/article/art-block-slider


		section.article__more.more-articles
			.more-articles__title-box
				h2.more-articles__title Другие статьи
		ul.more-articles__list
			li.more-articles__item
				include ../modules/article/article-card
			li.more-articles__item
				include ../modules/article/article-card
			li.more-articles__item
				include ../modules/article/article-card
			li.more-articles__item
				include ../modules/article/article-card
			li.more-articles__item
				include ../modules/article/article-card
			li.more-articles__item
				include ../modules/article/article-card
