include ../mixins/image
.catalog__content
	.container
		.catalog__wrap.small__card
			.catalog__row
				.catalog-col.catalog__card.card-label.i-sale
					.product__box
						.pr-img-box
							a(href="#popupFast").fast-free Быстрый просмотр
							ul.pr-img-slider.card-slider
								li.slide_0.slide_active
									a(href="#")
										+img('img1.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img1-big.jpg")
								li.slide_1
									a(href="#")
										+img('img2.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img2-big.jpg")
								li.slide_2
									a(href="#")
										+img('img3.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img3-big.jpg")
								li.slide_3
									a(href="#")
										+img('img4.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img4-big.jpg")
								li.slide_4
									a(href="#")
										+img('img1.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img1-big.jpg")
								li.slide_5
									a(href="#")
										+img('img2.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img2-big.jpg")
								li.slide_6
									a(href="#")
										+img('img3.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img3-big.jpg")
								li.slide_7
									a(href="#")
										+img('img4.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img4-big.jpg")
								li.slide_8
									a(href="#")
										+img('img1.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img1-big.jpg")
								li.slide_9
									a(href="#")
										+img('img2.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img2-big.jpg")
							//-.pr-img-slider
							.pr-hover-box
								.color-slider
									span.prev-color.color-arrow
									.color-list
										ul.color-track(data-transform="0", data-width="")
											li.color-1.active
												+img('c1.png', 'images/catalog-color/')
											li.color-2
												+img('c2.png', 'images/catalog-color/')
											li.color-3
												+img('c3.png', 'images/catalog-color/')
											li.color-4
												+img('c4.png', 'images/catalog-color/')
											li.color-5
												+img('c5.png', 'images/catalog-color/')
											li.color-6
												+img('c6.png', 'images/catalog-color/')
											li.color-7
												+img('c7.png', 'images/catalog-color/')
											li.color-8
												+img('c8.png', 'images/catalog-color/')
											li.color-9
												+img('c9.png', 'images/catalog-color/')
											li.color-10
												+img('c10.png', 'images/catalog-color/')
									//-.color-list												
									span.next-color.color-arrow
								//-.color-slider
								.pr-hover-desc
									span Размерный ряд 50–58
									| |
									span В коробке 5 шт
							//-.pr-hover-box
						.pr-bottom
							.pr-title-box
								a(href="#")
									span Пальто
									span 3-7007-227-3-7007-227
							.pr-price 25 000
								span ₽
				//-end .catalog-col
				.catalog-col.catalog__card.card-label.i-color
					.product__box
						.pr-img-box
							a(href="#").pr-favorite
							a(href="#popupFast").fast-free Быстрый просмотр
							ul.pr-img-slider.card-slider
								li.slide_0.slide_active
									a(href="#")
										+img('img3.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img3-big.jpg")
								li.slide_1
									a(href="#")
										+img('img1.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img1-big.jpg")
								li.slide_2
									a(href="#")
										+img('img2.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img2-big.jpg")
								li.slide_3
									a(href="#")
										+img('img4.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img4-big.jpg")
								li.slide_4
									a(href="#")
										+img('img1.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img1-big.jpg")
								li.slide_5
									a(href="#")
										+img('img2.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img2-big.jpg")
								li.slide_6
									a(href="#")
										+img('img3.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img3-big.jpg")
								li.slide_7
									a(href="#")
										+img('img4.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img4-big.jpg")
								li.slide_8
									a(href="#")
										+img('img1.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img1-big.jpg")
								li.slide_9
									a(href="#")
										+img('img2.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img2-big.jpg")
							//-.pr-img-slider
							.pr-hover-box
								.color-slider
									span.prev-color.color-arrow
									.color-list
										ul.color-track(data-transform="0", data-width="")
											li.color-1.active
												+img('c1.png', 'images/catalog-color/')
											li.color-2
												+img('c2.png', 'images/catalog-color/')
											li.color-3
												+img('c3.png', 'images/catalog-color/')
											li.color-4
												+img('c4.png', 'images/catalog-color/')
											li.color-5
												+img('c5.png', 'images/catalog-color/')
											li.color-6
												+img('c6.png', 'images/catalog-color/')
											li.color-7
												+img('c7.png', 'images/catalog-color/')
											li.color-8
												+img('c8.png', 'images/catalog-color/')
											li.color-9
												+img('c9.png', 'images/catalog-color/')
											li.color-10
												+img('c10.png', 'images/catalog-color/')
									//-.color-list												
									span.next-color.color-arrow
								//-.color-slider
								.pr-hover-desc
									span Размерный ряд 50–58
									| |
									span В коробке 5 шт
							//-.pr-hover-box
						.pr-bottom
							.pr-title-box
								a(href="#")
									span Пальто
									span 3-7007-227-3-7007-227
							.pr-price 25 000
								span ₽
				//-end .catalog-col
				.catalog-col.catalog__card.card-label.i-model
					.product__box
						.pr-img-box
							a(href="#popupFast").fast-free Быстрый просмотр
							ul.pr-img-slider.card-slider
								li.slide_0.slide_active
									a(href="#")
										+img('img4.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img4-big.jpg")
								li.slide_1
									a(href="#")
										+img('img1.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img1-big.jpg")
								li.slide_2
									a(href="#")
										+img('img2.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img2-big.jpg")
								li.slide_3
									a(href="#")
										+img('img3.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img3-big.jpg")
							//-.pr-img-slider
							.pr-hover-box
								.color-slider
									span.prev-color.color-arrow
									.color-list
										ul.color-track(data-transform="0", data-width="")
											li.color-1.active
												+img('c1.png', 'images/catalog-color/')
											li.color-2
												+img('c2.png', 'images/catalog-color/')
											li.color-3
												+img('c3.png', 'images/catalog-color/')
											li.color-4
												+img('c4.png', 'images/catalog-color/')
									//-.color-list												
									span.next-color.color-arrow
								//-.color-slider
								.pr-hover-desc
									span Размерный ряд 50–58
									| |
									span В коробке 5 шт
							//-.pr-hover-box
						.pr-bottom
							.pr-title-box
								a(href="#")
									span Пальто
									span 3-7007-227-3-7007-227
							.pr-price 25 000
								span ₽
				//-end .catalog-col
				.catalog-col.catalog__card
					.product__box
						.pr-img-box
							a(href="#popupFast").fast-free Быстрый просмотр
							ul.pr-img-slider.card-slider
								li.slide_0.slide_active
									a(href="#")
										+img('img2.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img2-big.jpg")
								li.slide_1
									a(href="#")
										+img('img1.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img1-big.jpg")
								li.slide_2
									a(href="#")
										+img('img3.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img3-big.jpg")
								li.slide_3
									a(href="#")
										+img('img4.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img4-big.jpg")
								li.slide_4
									a(href="#")
										+img('img1.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img1-big.jpg")
								li.slide_5
									a(href="#")
										+img('img2.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img2-big.jpg")
								li.slide_6
									a(href="#")
										+img('img3.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img3-big.jpg")
								li.slide_7
									a(href="#")
										+img('img4.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img4-big.jpg")
								li.slide_8
									a(href="#")
										+img('img1.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img1-big.jpg")
								li.slide_9
									a(href="#")
										+img('img2.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img2-big.jpg")
							//-.pr-img-slider
							.pr-hover-box
								.color-slider
									span.prev-color.color-arrow
									.color-list
										ul.color-track(data-transform="0", data-width="")
											li.color-1.active
												+img('c1.png', 'images/catalog-color/')
											li.color-2
												+img('c2.png', 'images/catalog-color/')
											li.color-3
												+img('c3.png', 'images/catalog-color/')
											li.color-4
												+img('c4.png', 'images/catalog-color/')
											li.color-5
												+img('c5.png', 'images/catalog-color/')
											li.color-6
												+img('c6.png', 'images/catalog-color/')
											li.color-7
												+img('c7.png', 'images/catalog-color/')
											li.color-8
												+img('c8.png', 'images/catalog-color/')
											li.color-9
												+img('c9.png', 'images/catalog-color/')
											li.color-10
												+img('c10.png', 'images/catalog-color/')
									//-.color-list												
									span.next-color.color-arrow
								//-.color-slider
								.pr-hover-desc
									span Размерный ряд 50–58
									| |
									span В коробке 5 шт
							//-.pr-hover-box
						.pr-bottom
							.pr-title-box
								a(href="#")
									span Пальто
									span 3-7007-227-3-7007-227
							.pr-price 25 000
								span ₽
				//-end .catalog-col
				.catalog-col.catalog__card
					.product__box
						.pr-img-box
							a(href="#popupFast").fast-free Быстрый просмотр
							ul.pr-img-slider.card-slider
								li.slide_0.slide_active
									a(href="#")
										+img('img3.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img3-big.jpg")
								li.slide_1
									a(href="#")
										+img('img1.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img1-big.jpg")
								li.slide_2
									a(href="#")
										+img('img2.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img2-big.jpg")
								li.slide_3
									a(href="#")
										+img('img4.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img4-big.jpg")
								li.slide_4
									a(href="#")
										+img('img1.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img1-big.jpg")
								li.slide_5
									a(href="#")
										+img('img2.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img2-big.jpg")
								li.slide_6
									a(href="#")
										+img('img3.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img3-big.jpg")
								li.slide_7
									a(href="#")
										+img('img4.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img4-big.jpg")
								li.slide_8
									a(href="#")
										+img('img1.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img1-big.jpg")
								li.slide_9
									a(href="#")
										+img('img2.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img2-big.jpg")
							//-.pr-img-slider
							.pr-hover-box
								.color-slider
									span.prev-color.color-arrow
									.color-list
										ul.color-track(data-transform="0", data-width="")
											li.color-1.active
												+img('c1.png', 'images/catalog-color/')
											li.color-2
												+img('c2.png', 'images/catalog-color/')
											li.color-3
												+img('c3.png', 'images/catalog-color/')
											li.color-4
												+img('c4.png', 'images/catalog-color/')
											li.color-5
												+img('c5.png', 'images/catalog-color/')
											li.color-6
												+img('c6.png', 'images/catalog-color/')
											li.color-7
												+img('c7.png', 'images/catalog-color/')
											li.color-8
												+img('c8.png', 'images/catalog-color/')
											li.color-9
												+img('c9.png', 'images/catalog-color/')
											li.color-10
												+img('c10.png', 'images/catalog-color/')
									//-.color-list												
									span.next-color.color-arrow
								//-.color-slider
								.pr-hover-desc
									span Размерный ряд 50–58
									| |
									span В коробке 5 шт
							//-.pr-hover-box
						.pr-bottom
							.pr-title-box
								a(href="#")
									span Пальто
									span 3-7007-227-3-7007-227
							.pr-price 25 000
								span ₽
				//-end .catalog-col
				.catalog-col.catalog__card
					.product__box
						.pr-img-box
							a(href="#popupFast").fast-free Быстрый просмотр
							ul.pr-img-slider.card-slider
								li.slide_0.slide_active
									a(href="#")
										+img('img4.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img4-big.jpg")
								li.slide_1
									a(href="#")
										+img('img1.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img1-big.jpg")
								li.slide_2
									a(href="#")
										+img('img2.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img2-big.jpg")
								li.slide_3
									a(href="#")
										+img('img3.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img3-big.jpg")
							//-.pr-img-slider
							.pr-hover-box
								.color-slider
									span.prev-color.color-arrow
									.color-list
										ul.color-track(data-transform="0", data-width="")
											li.color-1.active
												+img('c1.png', 'images/catalog-color/')
											li.color-2
												+img('c2.png', 'images/catalog-color/')
											li.color-3
												+img('c3.png', 'images/catalog-color/')
											li.color-4
												+img('c4.png', 'images/catalog-color/')
									//-.color-list												
									span.next-color.color-arrow
								//-.color-slider
								.pr-hover-desc
									span Размерный ряд 50–58
									| |
									span В коробке 5 шт
							//-.pr-hover-box
						.pr-bottom
							.pr-title-box
								a(href="#")
									span Пальто
									span 3-7007-227-3-7007-227
							.pr-price 25 000
								span ₽
				//-end .catalog-col
				.catalog-col.catalog__card
					.product__box
						.pr-img-box
							a(href="#popupFast").fast-free Быстрый просмотр
							ul.pr-img-slider.card-slider
								li.slide_0.slide_active
									a(href="#")
										+img('img4.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img4-big.jpg")
								li.slide_1
									a(href="#")
										+img('img1.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img1-big.jpg")
								li.slide_2
									a(href="#")
										+img('img2.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img2-big.jpg")
								li.slide_3
									a(href="#")
										+img('img3.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img3-big.jpg")
							//-.pr-img-slider
							.pr-hover-box
								.color-slider
									span.prev-color.color-arrow
									.color-list
										ul.color-track(data-transform="0", data-width="")
											li.color-1.active
												+img('c1.png', 'images/catalog-color/')
											li.color-2
												+img('c2.png', 'images/catalog-color/')
											li.color-3
												+img('c3.png', 'images/catalog-color/')
											li.color-4
												+img('c4.png', 'images/catalog-color/')
									//-.color-list												
									span.next-color.color-arrow
								//-.color-slider
								.pr-hover-desc
									span Размерный ряд 50–58
									| |
									span В коробке 5 шт
							//-.pr-hover-box
						.pr-bottom
							.pr-title-box
								a(href="#")
									span Пальто
									span 3-7007-227-3-7007-227
							.pr-price 25 000
								span ₽
				//-end .catalog-col
				.catalog-col.catalog__card
					.product__box
						.pr-img-box
							a(href="#popupFast").fast-free Быстрый просмотр
							ul.pr-img-slider.card-slider
								li.slide_0.slide_active
									a(href="#")
										+img('img4.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img4-big.jpg")
								li.slide_1
									a(href="#")
										+img('img1.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img1-big.jpg")
								li.slide_2
									a(href="#")
										+img('img2.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img2-big.jpg")
								li.slide_3
									a(href="#")
										+img('img3.jpg', 'images/catalog/')
										img(class="img-hover", src="images/ajax-loader.gif", alt="#", data-hover="images/catalog/img3-big.jpg")
							//-.pr-img-slider
							.pr-hover-box
								.color-slider
									span.prev-color.color-arrow
									.color-list
										ul.color-track(data-transform="0", data-width="")
											li.color-1.active
												+img('c1.png', 'images/catalog-color/')
											li.color-2
												+img('c2.png', 'images/catalog-color/')
											li.color-3
												+img('c3.png', 'images/catalog-color/')
											li.color-4
												+img('c4.png', 'images/catalog-color/')
									//-.color-list												
									span.next-color.color-arrow
								//-.color-slider
								.pr-hover-desc
									span Размерный ряд 50–58
									| |
									span В коробке 5 шт
							//-.pr-hover-box
						.pr-bottom
							.pr-title-box
								a(href="#")
									span Пальто
									span 3-7007-227-3-7007-227
							.pr-price 25 000
								span ₽
				//-end .catalog-col
		.clear
		ul.catalog__bottom
			li Показаны 1-30 из 500 моделей
			li
				a.btn.btn-white(href="#") Загрузить еще
			li
				a(href="#").btn-view Смотреть все
	//-.container		
// /.sliders__container	