include ../mixins/image
.catalog__content
	.container
		.catalog__wrap.catalog__materials
			.catalog__row

				.catalog-col.catalog__card.material-item
					.product__box
						.material__slider-box.active
							.m__slider-img
								.m-slider-for.slider
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий длинное имя 
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий

							.m__slider-thumb
								.m-slider-nav.slider
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')
						.pr-bottom
							.pr-title-box
								a(href="#").pr-title-cat Дубленки
								a(href="#").pr-title-material
									span 264 — Плащевка матовая

				.catalog-col.catalog__card.material-item
					.product__box
						.material__slider-box.active
							.m__slider-img
								.m-slider-for.slider
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий

							.m__slider-thumb
								.m-slider-nav.slider
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')

						.pr-bottom
							.pr-title-box
								a(href="#").pr-title-cat Дубленки
								a(href="#").pr-title-material
									span 264 — Плащевка матовая

				.catalog-col.catalog__card.material-item
					.product__box
						.material__slider-box.active
							.m__slider-img
								.m-slider-for.slider
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий

							.m__slider-thumb
								.m-slider-nav.slider
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')

						.pr-bottom
							.pr-title-box
								a(href="#").pr-title-cat Дубленки
								a(href="#").pr-title-material
									span 264 — Плащевка матовая

				.catalog-col.catalog__card.material-item
					.product__box
						.material__slider-box.active
							.m__slider-img
								.m-slider-for.slider
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий

							.m__slider-thumb
								.m-slider-nav.slider
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')

						.pr-bottom
							.pr-title-box
								a(href="#").pr-title-cat Дубленки
								a(href="#").pr-title-material
									span 264 — Плащевка матовая

				.catalog-col.catalog__card.material-item
					.product__box
						.material__slider-box.active
							.m__slider-img
								.m-slider-for.slider
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий

							.m__slider-thumb
								.m-slider-nav.slider
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')

						.pr-bottom
							.pr-title-box
								a(href="#").pr-title-cat Дубленки
								a(href="#").pr-title-material
									span 264 — Плащевка матовая

				.catalog-col.catalog__card.material-item
					.product__box
						.material__slider-box.active
							.m__slider-img
								.m-slider-for.slider
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий длинное имя 
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий

							.m__slider-thumb
								.m-slider-nav.slider
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')
						.pr-bottom
							.pr-title-box
								a(href="#").pr-title-cat Дубленки
								a(href="#").pr-title-material
									span 264 — Плащевка матовая

				.catalog-col.catalog__card.material-item
					.product__box
						.material__slider-box.active
							.m__slider-img
								.m-slider-for.slider
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий

							.m__slider-thumb
								.m-slider-nav.slider
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')

						.pr-bottom
							.pr-title-box
								a(href="#").pr-title-cat Дубленки
								a(href="#").pr-title-material
									span 264 — Плащевка матовая

				.catalog-col.catalog__card.material-item
					.product__box
						.material__slider-box.active
							.m__slider-img
								.m-slider-for.slider
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий

							.m__slider-thumb
								.m-slider-nav.slider
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')

						.pr-bottom
							.pr-title-box
								a(href="#").pr-title-cat Дубленки
								a(href="#").pr-title-material
									span 264 — Плащевка матовая

				.catalog-col.catalog__card.material-item
					.product__box
						.material__slider-box.active
							.m__slider-img
								.m-slider-for.slider
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий

							.m__slider-thumb
								.m-slider-nav.slider
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')

						.pr-bottom
							.pr-title-box
								a(href="#").pr-title-cat Дубленки
								a(href="#").pr-title-material
									span 264 — Плащевка матовая

				.catalog-col.catalog__card.material-item
					.product__box
						.material__slider-box.active
							.m__slider-img
								.m-slider-for.slider
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color1.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий
									div
										a(href="card-materials.html")
											+img('color2.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский коричневый
									div
										a(href="card-materials.html")
											+img('color3.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский оранжевый
									div
										a(href="card-materials.html")
											+img('color4.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский красный
									div
										a(href="card-materials.html")
											+img('color5.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский белый
									div
										a(href="card-materials.html")
											+img('color6.jpg', 'images/catalog-materials/')
											span.pr-hover-box
												span.pr-hover-desc.pr-hover-title
													span Венецианский синий

							.m__slider-thumb
								.m-slider-nav.slider
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')
									div.m-color-btn
										.color-13.m-color-item
											+img('c13.png', 'images/catalog-color/')
									div.m-color-btn
										.color-12.m-color-item
											+img('c12.png', 'images/catalog-color/')
									div.m-color-btn
										.color-16.m-color-item
											+img('c16.png', 'images/catalog-color/')
									div.m-color-btn
										.color-9.m-color-item
											+img('c9.png', 'images/catalog-color/')
									div.m-color-btn
										.color-15.m-color-item
											+img('c15.png', 'images/catalog-color/')
									div.m-color-btn
										.color-14.m-color-item
											+img('c14.png', 'images/catalog-color/')

						.pr-bottom
							.pr-title-box
								a(href="#").pr-title-cat Дубленки
								a(href="#").pr-title-material
									span 264 — Плащевка матовая

	//-.container		
// /.sliders__container	