section.lookbook-inner
	.container
		.lookbook-inner__content
			.lookbook-inner__block.lookbook-inner__block--head
				.lookbook-inner__slider.lb-slider
					.lookbook-inner__img-box
						picture
							source(media="(max-width: 360px)", type="image/jpg", srcset="images/lookbook/lb_main_360.jpg")
							source(media="(max-width: 767px)", type="image/jpg", srcset="images/lookbook/lb_main_768.jpg")
							source(media="(max-width: 919px)", type="image/jpg", srcset="images/lookbook/lb_main_1366.jpg")
							source(media="(max-width: 1024px)", type="image/jpg", srcset="images/lookbook/lb_main_1024.jpg")
							source(media="(max-width: 1799px)", type="image/jpg", srcset="images/lookbook/lb_main_1366.jpg")
							img(src="images/lookbook/lb_main_1920.jpg", alt="#").img-responsive

					.lookbook-inner__img-box.lookbook-inner__img-box--small
						picture
							source(media="(max-width: 360px)", type="image/jpg", srcset="images/lookbook/lb_main_small_360.jpg")
							source(media="(max-width: 919px)", type="image/jpg", srcset="images/lookbook/lb_main_small_768.jpg")
							source(media="(max-width: 1024px)", type="image/jpg", srcset="images/lookbook/lb_main_small_1024.jpg")
							source(media="(max-width: 1799px)", type="image/jpg", srcset="images/lookbook/lb_main_small_1366.jpg")
							img(src="images/lookbook/lb_main_small_1920.jpg", alt="#").img-responsive
						p.lookbook-inner__text.lookbook-inner__text--tab-up 3-7007-227-3-7007-227

				p.lookbook-inner__text.lookbook-inner__text--mob 3-7007-227-3-7007-227

			.lookbook-inner__blocks
				include ../modules/lookbook/lookbook-block-two-blocks
				include ../modules/lookbook/lookbook-block-one-block
				include ../modules/lookbook/lookbook-block-two-blocks
				include ../modules/lookbook/lookbook-block-one-block
				include ../modules/lookbook/lookbook-block-two-blocks
				include ../modules/lookbook/lookbook-block-one-block
				include ../modules/lookbook/lookbook-block-two-blocks
				include ../modules/lookbook/lookbook-block-one-block
				include ../modules/lookbook/lookbook-block-two-blocks




