doctype html
html(lang='ru', class="no-js")
	include includes/head
	include mixins/image

	body
		- var page = "questions";
		include modules/header-auth

		section.wrapper
			.breadcrumb__container.hidden-xs
				.container
					ul.breadcrumb
						li
							a(href="#") Личный кабинет
						li Отзывы и вопросы

			.catalog__container
				.visible-xs.mob-title
					a(href="#").back-modal.account-questions__top-link
					span Отзывы и вопросы
				include pages/account-questions-page

		include modules/footer-child
		include modules/modal
		include modules/fast-modal
		include modules/filter-mobile
		include includes/foot


