doctype html
html(lang='ru', class="no-js")
	include includes/head
	include mixins/image

	body
		- var page = "password";
		include modules/header-auth

		section.wrapper
			.breadcrumb__container.hidden-xs
				.container
					ul.breadcrumb
						li
							a(href="#") Личный кабинет
						li Сменить пароль

			.catalog__container
				.visible-xs.mob-title
					a(href="#").back-modal
					span Сменить пароль
				include pages/account-password-page

		include modules/footer-child
		include modules/modal
		include modules/fast-modal
		include modules/filter-mobile
		include includes/foot


