doctype html
html(lang='ru', class="no-js")
	include includes/head
	include mixins/image

	body
		include modules/header

		section.wrapper
			.breadcrumb__container.hidden-xs
				.container
					ul.breadcrumb
						li
							a(href="#") Женская
						li
							a(href="#") Верхняя одежда
						li Пальто
			//-.breadcrumb__container
			.catalog__container
				.visible-xs.mob-title
					a(href="#").back-modal
					span Пальто				
				include modules/catalog-filter
				include pages/catalog-page
			// .catalog__container
		// /.wrapper

		include modules/footer-child
		include modules/modal
		include modules/fast-modal
		include modules/filter-mobile
		include includes/foot


