doctype html
html(lang='ru', class="no-js")

	head
		meta(charset='utf-8')

		title Список страниц

		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		
		link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
	
		style body{background:#0a2743!important}.list__page{text-align:center;margin:50px 0 0; column-count: 2}.list__page li a{color:#fff;font-size:25px}.list__page li{margin:0 0 10px}h1{color:#fff!important}h1:before{display:none}ol,ol ol,ol ul,ul,ul ol,ul ul{list-style:none;margin:0;padding:0}a,button,input,li,textarea{outline:0!important}


	body
		h1(align="center") Список страниц

		div.clear
		ul.list__page
			li
				a(target="_blank", href="home.html") Главная
			//li
				a(target="_blank", href="home-unauth.html") Главная (неавторизован)
			li
				a(target="_blank", href="retail.html") купить в розницу
			li
				a(target="_blank", href="wholesaler.html") оптовик
			li
				a(target="_blank", href="joint.html") совместные
			li
				a(target="_blank", href="unauthorized.html") неавторизованные
			li
				a(target="_blank", href="retail-stores.html") розница_есть магазины
			li
				a(target="_blank", href="retail-no-stores.html") розница нет магазинов
			li
				a(target="_blank", href="catalog.html") каталог
			li
				a(target="_blank", href="catalog-auth.html") каталог (авторизован)
			li
				a(target="_blank", href="catalog-tile.html") каталог (крупная плитка)
			li
				a(target="_blank", href="catalog-list.html") каталог (список)
			li
				a(target="_blank", href="catalog-opt.html") Каталог для оптовика
			li
				a(target="_blank", href="catalog-retail.html") Каталог для розницы
			li
				a(target="_blank", href="catalog-joint.html") Каталог для сз
			li
				a(target="_blank", href="favorite.html") Избранное
			li
				a(target="_blank", href="cooperation.html") Сотрудничество
			li
				a(target="_blank", href="catalog-materials.html") Каталог тканей
			li
				a(target="_blank", href="card-materials.html") Карточка тканей
			li
				a(target="_blank", href="basket.html") Корзина
			li
				a(target="_blank", href="account-orders.html") Личный кабинет - История заказов
			li
				a(target="_blank", href="account-shops.html") Личный кабинет - Мои магазины
			li
				a(target="_blank", href="account-my-data.html") Личный кабинет - Мои данные
			li
				a(target="_blank", href="account-password.html") Личный кабинет - Сменить пароль
			li
				a(target="_blank", href="account-questions.html") Личный кабинет - Отзывы и вопросы
			li
				a(target="_blank", href="blog.html") Блог
			li
				a(target="_blank", href="article.html") Статья
			li
				a(target="_blank", href="lookbook-main.html") Lookbook рубрики
			li
				a(target="_blank", href="lookbook-inner.html") Lookbook внутренняя
			li
				a(target="_blank", href="manager.html") Страница менеджера
			li
				a(target="_blank", href="contacts.html") Контактная информация
			li
				a(target="_blank", href="dealers.html") Дилеры




