doctype html
html(lang='ru', class="no-js")
	include includes/head
	include mixins/image

	body
		include modules/header-auth

		section.wrapper
			.breadcrumb__container.hidden-xs
				.container
					ul.breadcrumb
						li
							a(href='#') Контакты
						li Екатерина Золотухина

			.catalog__container
				.visible-xs.mob-title.no-float
					a(href="#").back-modal
					span Екатерина Золотухина
				include pages/manager-page

		include modules/footer-child
		include modules/modal
		include modules/fast-modal
		include modules/filter-mobile
		include includes/foot