include ../mixins/image
.about__container
	.container
		.about__content
			.about__video.col-md-9.col-xs-18
				.video-slide
					.backstage__video
						a(href="#", data-videoId="J2Se9P70Gv4").video-link
							+img('video-bg.jpg', 'images/')
			//-.video-slide
			.about__text.col-md-9.col-xs-18
				.about-txt
					.h1.line
						span о компании
					.clear
					.a-text
						p В то время как снег на улицах уступает место сухому асфальту, девушки торопятся достать из гардеробов пальто всевозможных фасонов и цветов. Сегодня в центре внимания обязательный элемент вашего стиля – пальто-пиджак классической расцветки. Позаимствованный у мужчин, этот предмет гардероба подчеркивает женственность в каждой своей обладательнице. 
						p Поэтому бояться прямого кроя и отсутствия отделки не стоит: если ранее вы избегали эту модель пальто, то сейчас самое время ее полюбить.
						p Сегодня в центре внимания обязательный элемент вашего стиля – пальто-пиджак классической расцветки. Позаимствованный у мужчин, этот предмет гардероба подчеркивает женственность в каждой своей обладательнице. 
					.clear
					.more-about
						a(href="#") Подробнее
// /.about__container
			