include ../mixins/image
.product__container.card__material-container
	.product__scroll
		.container
			.row
				.card__material-slider.col-lg-6.col-md-8
					.visible-xs.mob-title
						a(href="#").back-modal
						span Вискоза
					.material-slider
						.material-big-slider
							.materialItemBig.slider
								div
									.mb-slider-content
										.mb-slider-img
											img(src="images/material-slider/big1.jpg", alt="#").img-responsive
										.mb-slider-title Серо-голубой
								div
									.mb-slider-content
										.mb-slider-img
											img(src="images/material-slider/big2.jpg", alt="#").img-responsive
										.mb-slider-title Розово-голубой
								div
									.mb-slider-content
										.mb-slider-img
											img(src="images/material-slider/big3.jpg", alt="#").img-responsive
										.mb-slider-title Коричнево-голубой
								div
									.mb-slider-content
										.mb-slider-img
											img(src="images/material-slider/big1.jpg", alt="#").img-responsive
										.mb-slider-title Серо-голубой
								div
									.mb-slider-content
										.mb-slider-img
											img(src="images/material-slider/big2.jpg", alt="#").img-responsive
										.mb-slider-title Розово-голубой
								div
									.mb-slider-content
										.mb-slider-img
											img(src="images/material-slider/big3.jpg", alt="#").img-responsive
										.mb-slider-title Коричнево-голубой

						.material-thumb-slider.hidden-xs
							.materialItemThumb.slider
								div
									img(src="images/material-slider/thumb1.jpg", alt="#").img-responsive
								div
									img(src="images/material-slider/thumb2.jpg", alt="#").img-responsive
								div
									img(src="images/material-slider/thumb3.jpg", alt="#").img-responsive
								div
									img(src="images/material-slider/thumb1.jpg", alt="#").img-responsive
								div
									img(src="images/material-slider/thumb2.jpg", alt="#").img-responsive
								div
									img(src="images/material-slider/thumb3.jpg", alt="#").img-responsive

						.clear
						.visible-sm.qust-mob.hidden-xs
							a(href="#").btn-qust.btn.btn-white
								span Задать вопрос
				// /.card__material-slider

				.card__material-text.col-lg-12.col-md-10
					.material-text
						.material-text-title.hidden-xs Вискоза
						.material-color-txt.hidden-xs
							p В работе мы применяем только лучшее сырье и уникальную фурнитуру, не имеющую аналогов. Немецкие нити повышенной прочности, импортные ткани позволяют создавать комфортную и долговечную продукцию. Каждое из предлагаемых нами изделий отличается модельным и цветовым решением. В коллекции представлены дубленки, имеющие удлиненные, укороченные, прямые, приталенные, расклешенные силуэты. Декорирование этой верхней одежды выполнено при помощи эффектной строчки, оригинальных воротников, капюшонов, поясов, карманов. 
						.clear
						.material__color
							.m-sub-title Ткань представлена в следующих цветах:
							.clear
							.material-color-container
								ul.material-color-list
									li
										.m-color-box(data-title="227 - Темно-сине-белый", data-min="5", data-price="5000", data-slide="1").disable
											.m-color-block
												img(src="images/color/color1.png", alt="#").img-responsive
											.m-color-tooltip Синий
									li
										.m-color-box(data-title="227 - Темно-серый", data-min="5", data-price="5000", data-slide="2").disable
											.m-color-block
												img(src="images/color/color2.png", alt="#").img-responsive
											.m-color-tooltip Серый
									li
										.m-color-box(data-title="227 - Черный", data-min="5", data-price="5000", data-slide="3").disable
											.m-color-block
												img(src="images/color/color3.png", alt="#").img-responsive
											.m-color-tooltip Черный
									li
										.m-color-box(data-title="227 - Мраморный", data-min="5", data-price="5000", data-slide="4").disable
											.m-color-block
												img(src="images/color/color4.png", alt="#").img-responsive
											.m-color-tooltip Мраморный
									li
										.m-color-box(data-title="227 - Красный", data-min="5", data-price="5000", data-slide="5").disable
											.m-color-block
												img(src="images/color/color5.png", alt="#").img-responsive
											.m-color-tooltip Красный
									li
										.m-color-box(data-title="227 - Коричневый", data-min="5", data-price="5000", data-slide="6").disable
											.m-color-block
												img(src="images/color/color6.png", alt="#").img-responsive
											.m-color-tooltip Коричневый
									li
										.m-color-box(data-title="227 - Мраморный", data-min="5", data-price="5000", data-slide="1").disable
											.m-color-block
												img(src="images/color/color4.png", alt="#").img-responsive
											.m-color-tooltip Мраморный


									li
										.m-color-box(data-title="227 - Темно-сине-белый", data-min="5", data-price="5000", data-slide="2").disable
											.m-color-block
												img(src="images/color/color1.png", alt="#").img-responsive
											.m-color-tooltip Синий
									li
										.m-color-box(data-title="227 - Темно-серый", data-min="5", data-price="5000", data-slide="3").disable
											.m-color-block
												img(src="images/color/color2.png", alt="#").img-responsive
											.m-color-tooltip Серый
									li
										.m-color-box(data-title="227 - Черный", data-min="5", data-price="5000", data-slide="4").disable
											.m-color-block
												img(src="images/color/color3.png", alt="#").img-responsive
											.m-color-tooltip Черный
									li
										.m-color-box(data-title="227 - Мраморный", data-min="5", data-price="5000", data-slide="5").disable
											.m-color-block
												img(src="images/color/color4.png", alt="#").img-responsive
											.m-color-tooltip Мраморный
									li
										.m-color-box(data-title="227 - Красный", data-min="5", data-price="5000", data-slide="6").disable
											.m-color-block
												img(src="images/color/color5.png", alt="#").img-responsive
											.m-color-tooltip Красный
									li
										.m-color-box(data-title="227 - Коричневый", data-min="5", data-price="5000", data-slide="1").disable
											.m-color-block
												img(src="images/color/color6.png", alt="#").img-responsive
											.m-color-tooltip Коричневый
									li
										.m-color-box(data-title="227 - Мраморный", data-min="5", data-price="5000", data-slide="2").disable
											.m-color-block
												img(src="images/color/color4.png", alt="#").img-responsive
											.m-color-tooltip Мраморный


									li
										.m-color-box(data-title="227 - Темно-сине-белый", data-min="5", data-price="5000", data-slide="3").disable
											.m-color-block
												img(src="images/color/color1.png", alt="#").img-responsive
											.m-color-tooltip Синий
									li
										.m-color-box(data-title="227 - Темно-серый", data-min="5", data-price="5000", data-slide="4").disable
											.m-color-block
												img(src="images/color/color2.png", alt="#").img-responsive
											.m-color-tooltip Серый
									li
										.m-color-box(data-title="227 - Черный", data-min="5", data-price="5000", data-slide="5").disable
											.m-color-block
												img(src="images/color/color3.png", alt="#").img-responsive
											.m-color-tooltip Черный
									li
										.m-color-box(data-title="227 - Мраморный", data-min="5", data-price="5000", data-slide="6").disable
											.m-color-block
												img(src="images/color/color4.png", alt="#").img-responsive
											.m-color-tooltip Мраморный
									li
										.m-color-box(data-title="227 - Красный", data-min="5", data-price="5000", data-slide="1").disable
											.m-color-block
												img(src="images/color/color5.png", alt="#").img-responsive
											.m-color-tooltip Красный
									li
										.m-color-box(data-title="227 - Коричневый", data-min="5", data-price="5000", data-slide="2").disable
											.m-color-block
												img(src="images/color/color6.png", alt="#").img-responsive
											.m-color-tooltip Коричневый
									li
										.m-color-box(data-title="227 - Мраморный", data-min="5", data-price="5000", data-slide="3").disable
											.m-color-block
												img(src="images/color/color4.png", alt="#").img-responsive
											.m-color-tooltip Мраморный
								.clear
								.m-show-all-material
									span.show-all-material Смотреть все
							.clear
						//-.material__color
						.clear
						.m-text-mobile.visible-xs

						.hidden-sm.visible-xs.btn-qust-mob
							a(href="#").btn-qust.btn.btn-white
								span Задать вопрос
				// /.card__material-text

// /.product__container
.clear

