include ../mixins/image
.cooperation__trigger
	.container
		.coop-trigger-content
			.coop-trigger-row.coopItems
				.coop-trigger-col
					.coop-trigger-box
						.coop-trigger-icon.i-tr1
						.coop-trigger-title.h2 Ответственность
						.coop-trigger-text
							p Мы дорожим репутацией, поэтому контролируем каждую деталь и каждый шов.
				.coop-trigger-col
					.coop-trigger-box
						.coop-trigger-icon.i-tr2
						.coop-trigger-title.h2 Надежность
						.coop-trigger-text
							p Вы будете защищены от проверок, потому что у нас “белое” производство и весь наш товар сертифицирован.
				.coop-trigger-col
					.coop-trigger-box
						.coop-trigger-icon.i-tr3
						.coop-trigger-title.h2 СРОКИ
						.coop-trigger-text
							p Мы понимаем насколько важны сроки поставки в сезонных продажах, поэтому создали собственный отдел логистики.
				.coop-trigger-col
					.coop-trigger-box
						.coop-trigger-icon.i-tr4
						.coop-trigger-title.h2 Без волнения и стресса
						.coop-trigger-text
							p За 20 лет работы мы построили бизнес процессы, которые с точностью позволяют подобрать ассортимент под потребности Вашей аудитории.

// .cooperation__trigger
