include ../mixins/image
.cooperation__main
	.container
		.coop-main-box
			.coop-main-title Вам будет достаточно легко работать с нами
			.coop-main-text
				p Потому что мы уделяем особое внимание каждому бизнес процессу
// .cooperation__main
