#popupFast
	.fast__container
		.product__container.prFix
			.product__scroll
				.container
					.mob-slider-action
						.slider-action-box
							span.prev-mob.prev-btnMob
							.slides-length
								span.slides-col.slidesVal 1
								span /
								span.slides-all.slidesLength
							span.next-mob.next-btnMob
					.product__left.col-md-11.col-sm-10.col-xs-18
						.visible-xs.mob-title
							a(href="#").back-modal
							span Пальто демисезонное


						.product__slider-big
							.product__slider-container
								.slider.slider-for.slider__arrow
									div
										.pr-big-box.zoom
											img(src="images/product/big1.jpg", alt="#").img-responsive
											.pr-color Серый
									div
										.pr-big-box.zoom
											img(src="images/product/big2.jpg", alt="#").img-responsive
											.pr-color Серый
									div
										.pr-big-box.zoom
											img(src="images/product/big3.jpg", alt="#").img-responsive
											.pr-color Серый
									div
										.pr-big-box.zoom
											img(src="images/product/big4.jpg", alt="#").img-responsive
											.pr-color Серый
									div
										.pr-big-box.zoom
											img(src="images/product/big5.jpg", alt="#").img-responsive
											.pr-color Серый
									div
										.pr-big-box.zoom
											img(src="images/product/big6.jpg", alt="#").img-responsive
											.pr-color Серый
									div
										.pr-big-box.zoom
											img(src="images/product/big7.jpg", alt="#").img-responsive
											.pr-color Серый
									div
										.pr-big-box.zoom
											img(src="images/product/big8.jpg", alt="#").img-responsive
											.pr-color Серый

							.product__slider-nav.hidden-xs
								.slider.slider-nav.slider__arrow.sl-nav
									div
										.pr-nav-box
											+img('thumb1.jpg', 'images/product/')
									div
										.pr-nav-box
											+img('thumb2.jpg', 'images/product/')
									div
										.pr-nav-box
											+img('thumb3.jpg', 'images/product/')
									div
										.pr-nav-box
											+img('thumb4.jpg', 'images/product/')
									div
										.pr-nav-box
											+img('thumb5.jpg', 'images/product/')
									div
										.pr-nav-box
											+img('thumb6.jpg', 'images/product/')
									div
										.pr-nav-box
											+img('thumb7.jpg', 'images/product/')
									div
										.pr-nav-box
											+img('thumb8.jpg', 'images/product/')
							// /.product__slider-nav					
						// /.product__slider-big
					// /.product__left

					.product__right.col-md-7.col-sm-8.col-xs-18
						h1.pr-title.hidden-xs Пальто демисезонное
						.pr-code Артикул:  3-4448/4-223
						.pr__block
							ul.pr-properties.properties-list
								li
									span.pr-item Размерный ряд:
									| 44–52
								li
									span.pr-item Материал:
									|
									a(href="#modalColor" class="modal-texture") Велюр 128
								li
									span.pr-item Состав:
									| 100% шерсть
								li
									span.pr-item Длина по спинке:
									| Утеплитель
								li
									span.pr-item Мех:
									| Норка
								li
									span.pr-item Утеплитель:
									| Утеплитель
								li
									span.pr-item Рост:
									| 160 см
								li
									span.pr-item Длина рукава:
									| 60см
								li
									span.pr-item Силуэт:
									| Силуэт
								li
									span.pr-item Стиль:
									| Стиль
							.clear
							span.show-prop Подробнее
							.clear
						.pr__block
							ul.pr-properties.pr-prices
								li
									span.pr-item Цена ( 1 шт ):
									| 
									span.price-txt-one 5 000
										|
										i.rub ₽
								li
									span.pr-item Минимальный заказ ( 5 шт ):
									|
									span.price-txt-all 25 000
										|
										i.rub ₽
								li.o-visible
									span.pr-item
									| 
									span.pr-info 1
										i.i-box
										| =  5 шт  =  42-50
									span.pr-tooltip.hidden-tablet
										span.tooltip-txt ?
										span.tooltip-info В коробке 5 шт 42-50 размеров
								li.visible-tablet
									.tooltip__mob Что это значит?
									.tooltip-i-mob В коробке 5 шт., размеры: 42, 44, 46, 48,50

						//-.pr__block

						.pr__color
							.pr-sub-title.pr-select Для оформления заказа выберите цвет
								i : 
								span
							.clear
							.pr-color-container
								ul.pr-color-list
									li
										.color-box(data-title="227 - Темно-сине-белый", data-min="5", data-price="5000", data-slide="1")
											.color-block
												img(src="images/color/color1.png", alt="#").img-responsive
											.color-tooltip Синий
									li
										.color-box(data-title="227 - Темно-серый", data-min="5", data-price="5000", data-slide="2")
											.color-block
												img(src="images/color/color2.png", alt="#").img-responsive
											.color-tooltip Серый
									li
										.color-box(data-title="227 - Черный", data-min="5", data-price="5000", data-slide="3")
											.color-block
												img(src="images/color/color3.png", alt="#").img-responsive
											.color-tooltip Черный
									li
										.color-box(data-title="227 - Мраморный", data-min="5", data-price="5000", data-slide="4")
											.color-block
												img(src="images/color/color4.png", alt="#").img-responsive
											.color-tooltip Мраморный
									li
										.color-box(data-title="227 - Красный", data-min="5", data-price="5000", data-slide="5")
											.color-block
												img(src="images/color/color5.png", alt="#").img-responsive
											.color-tooltip Красный
									li
										.color-box(data-title="227 - Коричневый", data-min="5", data-price="5000", data-slide="6")
											.color-block
												img(src="images/color/color6.png", alt="#").img-responsive
											.color-tooltip Коричневый
									li
										.color-box(data-title="227 - Мраморный", data-min="5", data-price="5000", data-slide="7")
											.color-block
												img(src="images/color/color4.png", alt="#").img-responsive
											.color-tooltip Мраморный
									li
										.color-box(data-title="227 - Темно-серый", data-min="5", data-price="5000", data-slide="8")
											.color-block
												img(src="images/color/color2.png", alt="#").img-responsive
											.color-tooltip Серый
									li
										.color-box(data-title="227 - Черный", data-min="5", data-price="5000", data-slide="1")
											.color-block
												img(src="images/color/color3.png", alt="#").img-responsive
											.color-tooltip Черный
									li
										.color-box(data-title="227 - Мраморный", data-min="5", data-price="5000", data-slide="2")
											.color-block
												img(src="images/color/color4.png", alt="#").img-responsive
											.color-tooltip Мраморный
									li
										.color-box(data-title="227 - Красный", data-min="5", data-price="5000", data-slide="3")
											.color-block
												img(src="images/color/color5.png", alt="#").img-responsive
											.color-tooltip Красный
							.clear
						//-.pr__color
						form(action="#", method="post")
							.calc__list-title Ваш Заказ:
							ul.calc__list

							.calc__itog
								.pr-sub-title Итого:
								.clear
								.calc__itog-content
									.calc__itog-color
										ul.itog-color-list
									.calc__itog-info
										span.itog-value 0									
										span.piece-txt шт,
										span.itog-box 0
										input(type="hidden", name="prPieces", value="0").itog-pieces
										input(type="hidden", name="prBoxes", value="0").itog-boxes
										.i-box
									.calc__itog-price
										span
											span.prPrices-txt 0
											i.rub ₽
										input(type="hidden", name="prPrices", value="0").itog-prices
							// /.calc__itog

							.calc__action
								a(href="#modalBasket").btn.add-basket.modal-open Добавить в корзину
								a(href="#").btn.add-favorite
									i.i-favorite
									span В избранное

							.pr-share
								.pr-sub-title Расскажи друзьям:
								ul.pr-soc
									li
										a(href="#").shop-soc-inst
									li
										a(href="#").shop-soc-vk
									li
										a(href="#").shop-soc-fb
									li
										a(href="#").shop-soc-yt
					// /.product__right
			.fastClose