footer.footer-child
	.visible-sm
		ul.f-action
			li
				a(href="tel:88007750952") Позвонить
			li
				a(href="#popupEmail").modal-open Написать
	.container
		.row
			//-.col-lg-pull-11.col-md-pull-12
			.col-lg-7.col-md-6.col-xs-18
				ul.f-nav
					li
						a(href="#") О компании
					li
						a(href="#") Вакансии
					li
						a(href="#") Сотрудничество
					li
						a(href="#") Купить в розницу
					li
						a(href="#") Контакты
				ul.f-nav
					li
						a(href="#") Lookbook
					li
						a(href="#") Видео
					li
						a(href="#") Новости
					li
						a(href="#") Блог
			.col-lg-4.col-md-6.hidden-sm
				//-.col-lg-push-7.col-md-push-6
				.f-logo
				.f-share
					ul.share-list
						li
							a(href="#").soc-inst
						li
							a(href="#").soc-vk
						li
							a(href="#").soc-fb
						li
							a(href="#").soc-yt
			.col-lg-7.col-md-6.col-sm-18.col-xs-18
				//-.col-lg-push-7.col-md-push-6
				.subscribe__form.f-form.hidden-sm
					form(data-toggle="validator", role="form", action="#", method="post")
						// /.control-box
						.control-box.control-group-btn.control__box
							input(type="text", placeholder="Ваш E-mail", data-error="Укажите ваш e-mail", required).control-input
							button(type="submit").control-btn Подписаться
							.help-block.with-errors
				.clear
				.visible-xs
					.f-show-mob
						span
				.f-share.visible-sm
					ul.share-list
						li
							a(href="#").soc-inst
						li
							a(href="#").soc-vk
						li
							a(href="#").soc-fb
						li
							a(href="#").soc-yt
			.clear
			.col-lg-4.col-sm-6.col-xs-18.col-lg-push-7.col-sm-push-6.col-tablet-9
				.privacy
					a(href="#") Политика конфиденциальности
			.col-lg-7.col-sm-6.col-xs-18.col-lg-push-7.col-sm-push-6.col-tablet-9
				.f-terms
					a(href="#") Пользовательское соглашение
			.col-lg-7.col-sm-6.col-xs-18.col-lg-pull-11.col-sm-pull-12.col-tablet-18
				.copy
					p &copy; ElectraStyle
//footer
.personal-bg