.group__container
	.container
		.group__content
			.group__left
				.group__box.group-1
					.group__block
						.group-title
							a(href="#") Верхняя одежда
						.group-slider.hidden-tablet
							.group-arrow.prev-group.prev1
							.clear
							.slider.groupItem1.groupItemSlider
								div(data-grimg="g1", data-imgcol="img-col1").gr-slide
									.group-item-list
										a(href="#") Пальто зимнее
									.gr-xs-img.visible-tablet
								div(data-grimg="g1", data-imgcol="img-col2").gr-slide
									.group-item-list
										a(href="#") Пальто
									.gr-xs-img.visible-tablet
								div(data-grimg="g1", data-imgcol="img-col3").gr-slide.slide-active
									.group-item-list
										a(href="#") Каракуль
									.gr-xs-img.visible-tablet
								div(data-grimg="g1", data-imgcol="img-col4").gr-slide
									.group-item-list
										a(href="#") Дубленки
									.gr-xs-img.visible-tablet
								div(data-grimg="g1", data-imgcol="img-col5").gr-slide
									.group-item-list
										a(href="#") Пуховики
									.gr-xs-img.visible-tablet
								div(data-grimg="g1", data-imgcol="img-col6").gr-slide
									.group-item-list
										a(href="#") Пальто зимнее
									.gr-xs-img.visible-tablet
								div(data-grimg="g1", data-imgcol="img-col7").gr-slide
									.group-item-list
										a(href="#") Пальто
									.gr-xs-img.visible-tablet
								div(data-grimg="g1", data-imgcol="img-col8").gr-slide
									.group-item-list
										a(href="#") Каракуль
									.gr-xs-img.visible-tablet
								div(data-grimg="g1", data-imgcol="img-col9").gr-slide
									.group-item-list
										a(href="#") Дубленки
									.gr-xs-img.visible-tablet
								div(data-grimg="g1", data-imgcol="img-col10").gr-slide
									.group-item-list
										a(href="#") Пуховики
									.gr-xs-img.visible-tablet
							.clear
							.group-arrow.next-group.next1
						//-.group-slider
					//-.group__block
					.group__images
						ul.group-list.g1
							li.img-col1
								a(href="#")
									img(src="images/group/img1.png", alt="#")
							li.img-col2
								a(href="#")
									img(src="images/group/img2.png", alt="#")
							li.img-col3
								a(href="#")
									img(src="images/group/img1.png", alt="#")
							li.img-col4
								a(href="#")
									img(src="images/group/img2.png", alt="#")
							li.img-col5
								a(href="#")
									img(src="images/group/img1.png", alt="#")
							li.img-col6
								a(href="#")
									img(src="images/group/img1.png", alt="#")
							li.img-col7
								a(href="#")
									img(src="images/group/img2.png", alt="#")
							li.img-col8
								a(href="#")
									img(src="images/group/img1.png", alt="#")
							li.img-col9
								a(href="#")
									img(src="images/group/img2.png", alt="#")
							li.img-col10
								a(href="#")
									img(src="images/group/img1.png", alt="#")
					.prev-gr-slide.group-btn
					.prev-next-slide.group-btn
				//-.group-1
				.group__box.group-2
					.group__block
						.group-title
							a(href="#") Одежда
						.group-slider.hidden-tablet
							.group-arrow.prev-group.prev2
							.clear
							.slider.groupItem2.groupItemSlider
								div(data-grimg="g2", data-imgcol="img-col1").gr-slide
									.group-item-list
										a(href="#") Блузки
									.gr-xs-img.visible-tablet
								div(data-grimg="g2", data-imgcol="img-col2").gr-slide
									.group-item-list
										a(href="#") Брюки
									.gr-xs-img.visible-tablet
								div(data-grimg="g2", data-imgcol="img-col3").gr-slide.slide-active
									.group-item-list
										a(href="#") Жилеты
									.gr-xs-img.visible-tablet
								div(data-grimg="g2", data-imgcol="img-col4").gr-slide
									.group-item-list
										a(href="#") Платья
									.gr-xs-img.visible-tablet
								div(data-grimg="g2", data-imgcol="img-col5").gr-slide
									.group-item-list
										a(href="#") Платья
									.gr-xs-img.visible-tablet
								div(data-grimg="g2", data-imgcol="img-col6").gr-slide
									.group-item-list
										a(href="#") Блузки
									.gr-xs-img.visible-tablet
								div(data-grimg="g2", data-imgcol="img-col7").gr-slide
									.group-item-list
										a(href="#") Брюки
									.gr-xs-img.visible-tablet
								div(data-grimg="g2", data-imgcol="img-col8").gr-slide
									.group-item-list
										a(href="#") Жилеты
									.gr-xs-img.visible-tablet
								div(data-grimg="g2", data-imgcol="img-col9").gr-slide
									.group-item-list
										a(href="#") Платья
									.gr-xs-img.visible-tablet
								div(data-grimg="g2", data-imgcol="img-col10").gr-slide
									.group-item-list
										a(href="#") Платья
									.gr-xs-img.visible-tablet
							.clear
							.group-arrow.next-group.next2
						//-.group-slider
					//-.group__block
					.group__images
						ul.group-list.g2
							li.img-col1
								a(href="#")
									img(src="images/group/img2.png", alt="#")
							li.img-col2
								a(href="#")
									img(src="images/group/img1.png", alt="#")
							li.img-col3
								a(href="#")
									img(src="images/group/img2.png", alt="#")
							li.img-col4
								a(href="#")
									img(src="images/group/img1.png", alt="#")
							li.img-col5
								a(href="#")
									img(src="images/group/img2.png", alt="#")
							li.img-col6
								a(href="#")
									img(src="images/group/img2.png", alt="#")
							li.img-col7
								a(href="#")
									img(src="images/group/img1.png", alt="#")
							li.img-col8
								a(href="#")
									img(src="images/group/img2.png", alt="#")
							li.img-col9
								a(href="#")
									img(src="images/group/img1.png", alt="#")
							li.img-col10
								a(href="#")
									img(src="images/group/img2.png", alt="#")
					.prev-gr-slide.group-btn
					.prev-next-slide.group-btn
				//-.group-2
			//-.group__left
			
			.group__right
				.group__box.group-3
					a(href="#").group__block
						.group-title
							span Детство
						.gr-img
							img(src="images/group/img3.jpg", alt="#", data-xs="images/group/img3x360-2.png", data-lg="images/group/img3.jpg") 
				//-.group-3
			//-.group__right

	//-.container
.clear