include ../mixins/image
.inst__container
	.container
		.title
			.title-box
				h3.hidden-tablet #electrastyle
				h3.visible-tablet мы в instagram
			.title-sub
				p
					span.hidden-tablet Подписывайтесь на наш аккаунт в instagram. 
					br 
					| Делитесь Вашими публикациями по тегу #electrastyle
				a(href="#").btn Смотреть все
		.inst__content
			.inst__row
				.inst__col
					.inst__box
						.inst-img
							a(href="#")
								+img('img1.jpg', 'images/inst/')
						.inst-bottom
							.inst-pic
								a(href="#")
									+img('1.jpg', 'images/inst-pic/')
							a(href="#").inst-btn Подробнее
				.inst__col
					.inst__box
						.inst-img
							a(href="#")
								+img('img2.jpg', 'images/inst/')
						.inst-bottom
							.inst-pic
								a(href="#")
									+img('2.jpg', 'images/inst-pic/')
							a(href="#").inst-btn Подробнее
				.inst__col
					.inst__box
						.inst-img
							a(href="#")
								+img('img3.jpg', 'images/inst/')
						.inst-bottom
							.inst-pic
								a(href="#")
									+img('3.jpg', 'images/inst-pic/')
							a(href="#").inst-btn Подробнее
				.inst__col
					.inst__box
						.inst-img
							a(href="#")
								+img('img4.jpg', 'images/inst/')
						.inst-bottom
							.inst-pic
								a(href="#")
									+img('4.jpg', 'images/inst-pic/')
							a(href="#").inst-btn Подробнее
				.inst__col
					.inst__box
						.inst-img
							a(href="#")
								+img('img5.jpg', 'images/inst/')
						.inst-bottom
							.inst-pic
								a(href="#")
									+img('5.jpg', 'images/inst-pic/')
							a(href="#").inst-btn Подробнее
				.inst__col
					.inst__box
						.inst-img
							a(href="#")
								+img('img6.jpg', 'images/inst/')
						.inst-bottom
							.inst-pic
								a(href="#")
									+img('6.jpg', 'images/inst-pic/')
							a(href="#").inst-btn Подробнее

				.inst__col
					.inst__box
						.inst-img
							a(href="#")
								+img('img7.jpg', 'images/inst/')
						.inst-bottom
							.inst-pic
								a(href="#")
									+img('1.jpg', 'images/inst-pic/')
							a(href="#").inst-btn Подробнее
				.inst__col
					.inst__box
						.inst-img
							a(href="#")
								+img('img8.jpg', 'images/inst/')
						.inst-bottom
							.inst-pic
								a(href="#")
									+img('2.jpg', 'images/inst-pic/')
							a(href="#").inst-btn Подробнее
				.inst__col
					.inst__box
						.inst-img
							a(href="#")
								+img('img9.jpg', 'images/inst/')
						.inst-bottom
							.inst-pic
								a(href="#")
									+img('3.jpg', 'images/inst-pic/')
							a(href="#").inst-btn Подробнее
				.inst__col
					.inst__box
						.inst-img
							a(href="#")
								+img('img10.jpg', 'images/inst/')
						.inst-bottom
							.inst-pic
								a(href="#")
									+img('4.jpg', 'images/inst-pic/')
							a(href="#").inst-btn Подробнее
				.inst__col
					.inst__box
						.inst-img
							a(href="#")
								+img('img11.jpg', 'images/inst/')
						.inst-bottom
							.inst-pic
								a(href="#")
									+img('5.jpg', 'images/inst-pic/')
							a(href="#").inst-btn Подробнее
				.inst__col
					.inst__box
						.inst-img
							a(href="#")
								+img('img12.jpg', 'images/inst/')
						.inst-bottom
							.inst-pic
								a(href="#")
									+img('6.jpg', 'images/inst-pic/')
							a(href="#").inst-btn Подробнее
		//-.inst__content

		.inst__bottom
			a(href="#") #electrastyle

		// /.inst__container
// /.inst__container
			