include ../mixins/image
.product__container
	.product__scroll
		.container
			.mob-slider-action
				.slider-action-box
					span.prev-mob.prev-btnMob
					.slides-length
						span.slides-col.slidesVal 1
						span /
						span.slides-all.slidesLength
					span.next-mob.next-btnMob
			.product__left.col-md-11.col-sm-10.col-xs-18
				.visible-xs.mob-title
					a(href="#").back-modal
					span Пальто демисезонное


				.product__slider-big
					.product__slider-container
						.slider.slider-for.slider__arrow
							div
								.pr-big-box.zoom
									.pzItem
										img(src="images/product/big1.jpg", alt="#").img-responsive.pinch-img
									a(href="#").pr-zoom
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									.pzItem
										img(src="images/product/big2.jpg", alt="#").img-responsive.pinch-img
									a(href="#").pr-zoom
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									.pzItem
										img(src="images/product/big3.jpg", alt="#").img-responsive.pinch-img
									a(href="#").pr-zoom
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									.pzItem
										img(src="images/product/big4.jpg", alt="#").img-responsive.pinch-img
									a(href="#").pr-zoom
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									.pzItem
										img(src="images/product/big5.jpg", alt="#").img-responsive.pinch-img
									a(href="#").pr-zoom
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									.pzItem
										img(src="images/product/big6.jpg", alt="#").img-responsive.pinch-img
									a(href="#").pr-zoom
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									.pzItem
										img(src="images/product/big7.jpg", alt="#").img-responsive.pinch-img
									a(href="#").pr-zoom
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									.pzItem
										img(src="images/product/big8.jpg", alt="#").img-responsive.pinch-img
									a(href="#").pr-zoom
									a(href="#").pr-favorite
									.pr-color Серый

						a(href="#").pr-zoom.btn-hidden
						a(href="#").pr-favorite.btn-hidden

					.product__slider-nav.hidden-xs
						.slider.slider-nav.slider__arrow.sl-nav
							div
								.pr-nav-box
									+img('thumb1.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb2.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb3.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb4.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb5.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb6.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb7.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb8.jpg', 'images/product/')
					// /.product__slider-nav					
					.product__information.hidden-xs
						ul.info-tab
							li.active.tab1(data-tab="tab1") Описание
							li.tab2(data-tab="tab2") Вопросы и предложения
							li.tab3(data-tab="tab3") Отзывы
						.info-container
							.accordion__tablet(data-tab="tab1").active.tab1
								span Описание
							.info__box.tab1.tab-open
								.info__box-txt
									p В то время как снег на улицах уступает место сухому асфальту, девушки торопятся достать из гардеробов пальто всевозможных фасонов и цветов. Сегодня в центре внимания обязательный элемент вашего стиля – пальто-пиджак классической расцветки. Позаимствованный у мужчин, этот предмет гардероба подчеркивает женственность в каждой своей обладательнице. Поэтому бояться прямого кроя и отсутствия отделки не стоит: если ранее вы избегали эту модель пальто, то сейчас самое время ее полюбить. В то время как снег на улицах уступает место сухому асфальту, девушки торопятся достать из гардеробов пальто
								.clear
								a(href="#").info__box-more Подробнее
							//-.tab1
							.accordion__tablet(data-tab="tab2").tab2
								span Вопросы и предложения
							.info__box.tab2
								.qustion__scroll
									.scrollBox.q-scrollBox
										ul.qustion__list.qustion-parent
											li
												.q-title Олег Петрович
												p Куплен на замену 5S, который в целом устраивал. Хотелось камеру получше, т.к. девушка постоянно пользуется соцсетями и активно размещает фото. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна.
												ul.qustion__list
													li
														.q-title Electrastile
														p Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. 
											li
												.q-title Олег (01.01.17)
												p Куплен на замену 5S, который в целом устраивал. Хотелось камеру получше, т.к. девушка постоянно пользуется соцсетями и активно размещает фото. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна.			
											li
												.q-title Олег Ианович (01.01.17)
												p Куплен на замену 5S, который в целом устраивал. Хотелось камеру получше, т.к. девушка постоянно пользуется соцсетями и активно размещает фото. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна.
												ul.qustion__list
													li
														.q-title Electrastile
														p Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. 																
								.unauthorized-box
									a(href="#popupLogin").btn.btn-white.modal-open Войти и задать вопрос
							//-.tab2
							.accordion__tablet(data-tab="tab3").tab3
								span Отзывы							
							.info__box.tab3
								.qustion__scroll
									.scrollBox.r-scrollBox
										ul.qustion__list.qustion-parent
											li
												.q-title Олег Ианович (01.01.17)
												p Куплен на замену 5S, который в целом устраивал. Хотелось камеру получше, т.к. девушка постоянно пользуется соцсетями и активно размещает фото. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна.
												ul.qustion__list
													li
														.q-title Electrastile
														p Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. 
											li
												.q-title Олег (01.01.17)
												p Куплен на замену 5S, который в целом устраивал. Хотелось камеру получше, т.к. девушка постоянно пользуется соцсетями и активно размещает фото. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна.			
											li
												.q-title Олег Ианович (01.01.17)
												p Куплен на замену 5S, который в целом устраивал. Хотелось камеру получше, т.к. девушка постоянно пользуется соцсетями и активно размещает фото. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна.
												ul.qustion__list
													li
														.q-title Electrastile
														p Все ожидания оправдались, камеры отличные, и фронтальная и основная. Разница в уровне фото с 5S хорошо заметна. 																
								.unauthorized-box
									a(href="#popupLogin").btn.btn-white.modal-open Войти и оставить отзыв									
							//-.tab3

						//-.info-container
					//-.product__information

				// /.product__slider-big
			// /.product__left

			.product__right.col-md-7.col-sm-8.col-xs-18
				h1.pr-title.hidden-xs Пальто демисезонное
				.pr-code Артикул:  3-4448/4-223
				.pr__block
					ul.pr-properties.properties-list
						li.prShow
							span.pr-item Размерный ряд:
							| 44–52
						li.prShow
							span.pr-item Материал:
							|
							a(href="#modalColor" class="modal-texture") Велюр 128
						li.prShow
							span.pr-item Состав:
							| 100% шерсть
						li(style="display:block;")
							span.pr-item Длина по спинке:
							| Утеплитель
						li(style="display:block;")
							span.pr-item Мех:
							| Норка
						li(style="display:block;")
							span.pr-item Утеплитель:
							| Утеплитель
						li(style="display:block;")
							span.pr-item Рост:
							| 160 см
						li(style="display:block;")
							span.pr-item Длина рукава:
							| 60см
						li(style="display:block;")
							span.pr-item Силуэт:
							| Силуэт
						li(style="display:block;")
							span.pr-item Стиль:
							| Стиль
					.clear
					span.show-prop.active Свернуть
					.clear

				//-.pr__block

				.pr__color.unauth__color
					.pr-sub-title.pr-select-disable.hidden-tablet Цвета
						i : 
						span
					.pr-sub-title.pr-select-disable.visible-tablet Представленные цвета модели
						i : 
						span
					.clear
					.pr-color-container-disable
						ul.pr-color-list
							li
								.color-box-disable(data-title="227 - Темно-сине-белый", data-min="5", data-price="5000", data-slide="1")
									.color-block
										img(src="images/color/color1.png", alt="#").img-responsive
									.color-tooltip Синий
							li
								.color-box-disable(data-title="227 - Темно-серый", data-min="5", data-price="5000", data-slide="2")
									.color-block
										img(src="images/color/color2.png", alt="#").img-responsive
									.color-tooltip Серый
							li
								.color-box-disable(data-title="227 - Черный", data-min="5", data-price="5000", data-slide="3")
									.color-block
										img(src="images/color/color3.png", alt="#").img-responsive
									.color-tooltip Черный
							li
								.color-box-disable(data-title="227 - Мраморный", data-min="5", data-price="5000", data-slide="4")
									.color-block
										img(src="images/color/color4.png", alt="#").img-responsive
									.color-tooltip Мраморный
							li
								.color-box-disable(data-title="227 - Красный", data-min="5", data-price="5000", data-slide="5")
									.color-block
										img(src="images/color/color5.png", alt="#").img-responsive
									.color-tooltip Красный
							li
								.color-box-disable(data-title="227 - Коричневый", data-min="5", data-price="5000", data-slide="6")
									.color-block
										img(src="images/color/color6.png", alt="#").img-responsive
									.color-tooltip Коричневый
							li
								.color-box-disable(data-title="227 - Мраморный", data-min="5", data-price="5000", data-slide="7")
									.color-block
										img(src="images/color/color4.png", alt="#").img-responsive
									.color-tooltip Мраморный
						.clear
						span.show-all-color Смотреть все
					.clear
				//-.pr__color
				form(action="#", method="post")
					.joint__box
						p В настоящий момент на сайте ElectraStyle.ru можно оформлять только оптовые заказы.Как организатор совместных закупок Вы можете совершать покупки в магазине нашего партнера:

						ul.stories__list
							li
								.stor-logo
									a(href="#")
										img(src="images/stor-logo.jpg", alt="#").img-responsive
								a(href="#").btn.btn-white.btn-stor Перейти на сайт STILVO
							li.visible-tablet
								a(href="#").btn.add-favorite
									i.i-favorite
									span В избранное


					.pr-share.joint-share
						.pr-sub-title Расскажи друзьям:
						ul.pr-soc
							li
								a(href="#").shop-soc-inst
							li
								a(href="#").shop-soc-vk
							li
								a(href="#").shop-soc-fb
							li
								a(href="#").shop-soc-yt
			// /.product__right
	.prClose
// /.product__container
.clear
.accordion__mob.visible-xs
	.accordion__box.active.a-box1
		.accordion__tab
			span Описание
		.accordion__content.accordionShow
	//-.accordion__box
	
	.accordion__box.a-box2
		.accordion__tab
			span Вопросы и предложения
		.accordion__content
			.qustion__scroll
				.scrollBox.q-scrollBox2
					ul.qustion__list
			.unauthorized-box
				a(href="#popupLogin").btn.btn-white.modal-open Войти на сайт и задать вопрос
	//-.accordion__box
	
	.accordion__box.a-box3
		.accordion__tab
			span Отзывы
		.accordion__content
			.qustion__scroll
				.scrollBox.r-scrollBox2
					ul.qustion__list.qustion-parent
			.unauthorized-box
				a(href="#popupLogin").btn.btn-white.modal-open Войти на сайт и оставить отзыв
	//-.accordion__box

// /.accordion__mob
.clear
.prouct__triger
	.container
		.triger__container.trigerItems
			.triger__box
				div
					img(src="images/svg/mos.svg", alt="#", width="24", height="44").tr1
					span Российская компания производитель
			.triger__box
				div
					img(src="images/svg/sew.svg", alt="#", width="39", height="39").tr2
					span Собственное производство
			.triger__box
				div
					img(src="images/svg/eac.svg", alt="#", width="40", height="38").tr3
					span Сертифицированный товар