.modal-password.modal-password--closed
	.modal-password__content
		p.modal-password__text Ваш пароль успешно изменен!
		button.modal-password__close.btn-cross(type='button', aria-label='закрыть попап')