#modalBasketSaccess(class="mfp-hide")
	.modal__container
		.modal-close.mfp-close
		.modal__content
			.basket__saccess
				.b__saccess-text
					.b__saccess-title 
						span Благодарим 
						span Вас за заказ! 
						br
						| Ваш заказ успешно оформлен! 
					.b__saccess-sub-title Для согласования заказа с Вами обязательно свяжется менеджер. 
					p Напоминаем, что у Вас есть возможность связаться с менеджером по телефону или через 
						a(href="#") личный кабинет
						| .
				.b__saccess-img
					picture
						source(media="(max-width: 919px)", type="image/jpg", srcset="images/basket-saccess-img-x768.jpg")
						source(media="(max-width: 1365px)", type="image/jpg", srcset="images/basket-saccess-img-x920.jpg")
						source(media="(max-width: 1799px)", type="image/jpg", srcset="images/basket-saccess-img-x1366.jpg")
						img(src="images/basket-saccess-img.jpg", alt="#").img-responsive
