//PhotoSwipe.
.pswp(tabindex="-1", role="dialog", aria-hidden="true")
	.pswp__bg
	.pswp__scroll-wrap
		.pswp__container
			.pswp__item
			.pswp__item
			.pswp__item
		.pswp__ui.pswp__ui--hidden
			.pswp__top-bar
				.pswp__counter
				button(title="Закрыть (Esc)").pswp__button.pswp__button--close
				button(title="Поделиться").pswp__button.pswp__button--share.pswp__element--disabled
				button(title="Полноэкранный режим").pswp__button.pswp__button--fs.pswp__element--disabled
				button(title="Увеличение/уменьшение").pswp__button.pswp__button--zoom
				.pswp__preloader
					.pswp__preloader__icn
						.pswp__preloader__cut
							.pswp__preloader__donut
			.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
				.pswp__share-tooltip
			button(title="Предыдущий (стрелка влево)").pswp__button.pswp__button--arrow--left
			button(title="Следующий (стрелка вправо )").pswp__button.pswp__button--arrow--right
			.pswp__caption
				.pswp__caption__center
