.shop-dp.shop-dp--closed
	.shop-dp__overlay
	.shop-dp__container
		.shop-dp__text Вы действительно хотите удалить магазин?
		button.shop-dp__btn.btn(id='del-shop') Да
		button.shop-dp__btn.btn.btn-white(data-close) Нет
		button.shop-dp__del.btn-cross(data-close aria-label='Закрыть попап')