.sliders__container
	.popular__product.sliders__box
		.container
			.title
				.title-box
					h3 подобрать к образу
			.clear
			.popular__slider
				.slider.popularItem.popularSlider
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img5.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img6.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img7.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img8.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img5.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img6.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img7.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
		//-.container		
	//-.sliders__box
	.popular__product.sliders__box
		.container
			.title
				.title-box
					h3 похожие модели
			.clear
			.popular__slider
				.slider.popularItem.popularSlider2
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img5.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img6.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img7.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img8.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img5.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img6.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img7.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
		//-.container		
	//-.sliders__box
	.popular__product.sliders__box
		.container
			.title
				.title-box
					h3 недавно просмотренные
			.clear
			.popular__slider
				.slider.popularItem.popularSlider3
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img5.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img6.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img7.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img8.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img5.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img6.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
					div
						.product__box
							.pr-img-box
								ul.pr-img-slider
									li.slide_0.slide_active
										a(href="#")
											+img('img7.jpg', 'images/catalog/')
								//-.pr-img-slider
							.pr-bottom
								.pr-title-box
									a(href="#")
										span Пальто
										span 3-7007-227-3-7007-227
					//-end div
		//-.container		
	//-.sliders__box
	.h2.center Electrastyle желает вам
		br
		| приятных покупок!	
// /.sliders__container	