.subscribe__container.visible-tablet.subscribe-soc
	.container
		.subscribe__content
			.subscribe__title.col-md-8.col-xs-18
				.sb-title-main
					span Будьте в курсе!
				.sb-title-sub следите за нами в соцсетях
			//-.subscribe__title
			.subscribe__box.col-md-8.col-xs-18
				.subscribe__form
					ul.share-list
						li
							a(href="#").soc-inst
						li
							a(href="#").soc-vk
						li
							a(href="#").soc-fb
						li
							a(href="#").soc-yt
			// /.subscribe__box
		//-.subscribe__content
//-.subscribe__container