.lookbook-inner__block.lookbook-inner__block--two-blocks
	.lookbook-inner__slider.lb-slider.lookbook-inner__slider--left
		.lookbook-inner__img-box
			picture
				source(media="(max-width: 360px)", type="image/jpg", srcset="images/lookbook/lb_double_1_360.jpg")
				source(media="(max-width: 919px)", type="image/jpg", srcset="images/lookbook/lb_double_1_768.jpg")
				source(media="(max-width: 1024px)", type="image/jpg", srcset="images/lookbook/lb_double_1_1024.jpg")
				source(media="(max-width: 1366px)", type="image/jpg", srcset="images/lookbook/lb_double_1_1366.jpg")
				img(src="images/lookbook/lb_double_1_1920.jpg", alt="#").img-responsive

		.lookbook-inner__img-box.lookbook-inner__img-box--small
			picture
				source(media="(max-width: 360px)", type="image/jpg", srcset="images/lookbook/lb_block_small_360.jpg")
				source(media="(max-width: 919px)", type="image/jpg", srcset="images/lookbook/lb_block_small_768.jpg")
				source(media="(max-width: 1024px)", type="image/jpg", srcset="images/lookbook/lb_block_small_1024.jpg")
				source(media="(max-width: 1799px)", type="image/jpg", srcset="images/lookbook/lb_block_small_1366.jpg")
				img(src="images/lookbook/lb_block_small_1920.jpg", alt="#").img-responsive
			p.lookbook-inner__text.lookbook-inner__text--tab-up 3-7007-227-3-7007-227
	p.lookbook-inner__text.lookbook-inner__text--mob 3-7007-227-3-7007-227

	.lookbook-inner__slider.lookbook-inner__slider--right.lb-slider
		.lookbook-inner__img-box
			picture
				source(media="(max-width: 360px)", type="image/jpg", srcset="images/lookbook/lb_double_2_360.jpg")
				source(media="(max-width: 919px)", type="image/jpg", srcset="images/lookbook/lb_double_2_768.jpg")
				source(media="(max-width: 1024px)", type="image/jpg", srcset="images/lookbook/lb_double_2_1024.jpg")
				source(media="(max-width: 1366px)", type="image/jpg", srcset="images/lookbook/lb_double_2_1366.jpg")
				img(src="images/lookbook/lb_double_2_1920.jpg", alt="#").img-responsive
		.lookbook-inner__img-box.lookbook-inner__img-box--small
			picture
				source(media="(max-width: 360px)", type="image/jpg", srcset="images/lookbook/lb_block_small_360.jpg")
				source(media="(max-width: 919px)", type="image/jpg", srcset="images/lookbook/lb_block_small_768.jpg")
				source(media="(max-width: 1024px)", type="image/jpg", srcset="images/lookbook/lb_block_small_1024.jpg")
				source(media="(max-width: 1799px)", type="image/jpg", srcset="images/lookbook/lb_block_small_1366.jpg")
				img(src="images/lookbook/lb_block_small_1920.jpg", alt="#").img-responsive
			p.lookbook-inner__text.lookbook-inner__text--tab-up 3-7007-227-3-7007-227
	p.lookbook-inner__text.lookbook-inner__text--mob 3-7007-227-3-7007-227