.lookbook__card.lookbook__card--right
	.lookbook__title-box
		h2.lookbook__title.main-title Весна 2017
	.lookbook__img-box
		picture
			source(media="(max-width: 360px)", type="image/jpg", srcset="images/lookbook/lookbook_card_360.jpg")
			source(media="(max-width: 767px)", type="image/jpg", srcset="images/lookbook/lookbook_card_1366.jpg")
			source(media="(max-width: 919px)", type="image/jpg", srcset="images/lookbook/lookbook_card_768.jpg")
			source(media="(max-width: 1024px)", type="image/jpg", srcset="images/lookbook/lookbook_card_1920.jpg")
			source(media="(max-width: 1799px)", type="image/jpg", srcset="images/lookbook/lookbook_card_1366.jpg")
			img(src="images/lookbook/lookbook_card_1920.jpg", alt="#").img-responsive
		.lookbook__hover
			a(href="").lookbook__link.btn.btn-white Смотреть